In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 500)

In [2]:
m = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\measurement.csv")
v = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\visit_occurrence.csv")
gs = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\goldstandard.csv")
data_dict = pd.read_csv("data_dictionary.csv")
m.shape, v.shape

((197498, 20), (42515, 17))

In [3]:
m.head()

,person_id,measurement_id,measurement_concept_id,measurement_date,measurement_datetime,measurement_time,measurement_type_concept_id,operator_concept_id,value_as_number,value_as_concept_id,unit_concept_id,range_low,range_high,provider_id,visit_occurrence_id,visit_detail_id,measurement_source_value,measurement_source_concept_id,unit_source_value,value_source_value;;;;;;;
0,516,1,3000905,2015-11-14,2015-11-14 14:41:00,2018-07-14,44818702,4172703.0,4.90,NaN,8848.0,4.30,10.00,NaN,NaN,NaN,NaN,3000905,10*3/uL,4.9;;;;;;;
1,1193,2,3028288,2013-01-24,2013-01-24 14:41:00,2015-12-28,44818702,4172703.0,57.00,NaN,NaN,NaN,130.00,NaN,NaN,NaN,NaN,3028288,NaN,57.0;;;;;;;
2,949,3,3027114,2017-09-06,2017-09-06 14:41:00,2017-06-20,44818702,4172703.0,216.00,NaN,8840.0,NaN,200.00,NaN,NaN,NaN,NaN,3027114,mg/dL,216.0;;;;;;;
3,1059,4,3012030,2018-12-23,2018-12-23 14:41:00,2019-02-26,44818702,4172703.0,32.50,NaN,NaN,27.30,33.60,NaN,NaN,NaN,NaN,3012030,pg,32.5;;;;;;;
4,348,5,3016723,2012-10-26,2012-10-26 14:41:00,2019-03-01,44818702,4172703.0,0.93,NaN,8840.0,0.51,1.18,NaN,NaN,NaN,NaN,3016723,mg/dL,0.93;;;;;;;

In [6]:
m.columns

Index(['person_id', 'measurement_id', 'measurement_concept_id',
       'measurement_date', 'measurement_datetime', 'measurement_time',
       'measurement_type_concept_id', 'operator_concept_id', 'value_as_number',
       'value_as_concept_id', 'unit_concept_id', 'range_low', 'range_high',
       'provider_id', 'visit_occurrence_id', 'visit_detail_id',
       'measurement_source_value', 'measurement_source_concept_id',
       'unit_source_value', 'value_source_value;;;;;;;'],
      dtype='object')

In [7]:
v.columns

Index(['person_id', 'visit_occurrence_id', 'visit_concept_id',
       'visit_start_date', 'visit_start_datetime', 'visit_end_date',
       'visit_end_datetime', 'visit_type_concept_id', 'provider_id',
       'care_site_id', 'visit_source_value', 'visit_source_concept_id',
       'admitting_source_concept_id', 'admitting_source_value',
       'discharge_to_concept_id', 'discharge_to_source_value',
       'preceding_visit_occurrence_id'],
      dtype='object')

In [10]:
m_s = ["person_id", "measurement_concept_id", "measurement_date",
       "measurement_time", "value_as_number", "range_low", "range_high"]

v_s = ["person_id", "visit_concept_id","visit_start_date", "visit_end_date"]
m = m[m_s]
v = v[v_s]


m['measurement_time'] = pd.to_datetime(m['measurement_time'])
m["measurement_date"] = pd.to_datetime(m["measurement_date"])

v["visit_start_date"] = pd.to_datetime(v["visit_start_date"])
v["visit_end_date"] = pd.to_datetime(v["visit_end_date"])
 
v.head()

   person_id  visit_concept_id visit_start_date visit_end_date
0         42              9201       2011-06-18     2011-06-27
1        554            581479       2012-08-31     2012-08-31
2        889              9203       2016-01-10     2016-01-12
3        970              9201       2010-05-18     2010-05-23
4        568             32037       2019-06-21     2019-06-30

In [11]:
m.head()

,person_id,measurement_concept_id,measurement_date,measurement_time,value_as_number,range_low,range_high
0,516,3000905,2015-11-14,2018-07-14,4.90,4.30,10.00
1,1193,3028288,2013-01-24,2015-12-28,57.00,NaN,130.00
2,949,3027114,2017-09-06,2017-06-20,216.00,NaN,200.00
3,1059,3012030,2018-12-23,2019-02-26,32.50,27.30,33.60
4,348,3016723,2012-10-26,2019-03-01,0.93,0.51,1.18

In [12]:
m[m['measurement_concept_id'] == 706163]

,person_id,measurement_concept_id,measurement_date,measurement_time,value_as_number,range_low,range_high
6919,100,706163,2016-02-24,2020-05-06,NaN,NaN,NaN
17075,428,706163,2012-06-12,2020-05-07,NaN,NaN,NaN
21722,854,706163,2011-09-21,2020-05-07,NaN,NaN,NaN
26755,403,706163,2020-01-28,2020-03-27,NaN,NaN,NaN
31354,53,706163,2015-09-29,2020-05-06,NaN,NaN,NaN
45638,314,706163,2012-11-16,2020-05-07,NaN,NaN,NaN
50692,98,706163,2011-01-08,2020-05-06,NaN,NaN,NaN
60263,999,706163,2016-06-26,2020-05-07,NaN,NaN,NaN
64459,1089,706163,2011-06-21,2020-03-27,NaN,NaN,NaN
68691,394,706163,2017-02-21,2020-05-06,NaN,NaN,NaN
70964,42,706163,2018-02-11,2020-05-07,NaN,NaN,NaN
82846,978,706163,2014-02-07,2020-05-07,NaN,NaN,NaN
83582,282,706163,2011-04-30,2020-03-27,NaN,NaN,NaN
84708,46,706163,2017-07-08,2020-05-07,NaN,NaN,NaN
92268,237,706163,2011-04-03,2020-05-06,NaN,NaN,NaN
100562,655,706163,2017-09-27,2020-05-06,NaN,NaN,NaN
114322,608,706163,2019-09-10,2020-05-07,NaN,NaN,NaN
115728,533,706163,2015-11-09,2020-05-07,NaN,NaN,NaN
117621,845,706163,2017-06-07,2020-05-06,NaN,NaN,NaN
122730,348,706163,2019-09-04,2020-03-27,NaN,NaN,NaN
133585,192,706163,2015-01-15,2020-05-06,NaN,NaN,NaN
136398,283,706163,2020-02-28,2020-03-27,NaN,NaN,NaN
140770,40,706163,2014-06-22,2020-05-07,NaN,NaN,NaN
162599,1229,706163,2015-12-27,2020-03-27,NaN,NaN,NaN
165145,68,706163,2012-04-25,2020-05-07,NaN,NaN,NaN
174160,924,706163,2013-09-02,2020-05-07,NaN,NaN,NaN
175051,86,706163,2018-04-14,2020-03-27,NaN,NaN,NaN

In [13]:
measurements = m.measurement_concept_id.unique()
d_1 = {}
for measurement in measurements:
    try:
        measurement_name = data_dict[data_dict['concept_id'] == measurement]['concept_name'].values[0]
        d_1[measurement] = measurement_name
    except:
        continue
m['measurement_concept_id'] = m['measurement_concept_id'].map(d_1)

In [14]:
measurements = v.visit_concept_id.unique()
d_2 = {}
for measurement in measurements:
    try:
        measurement_name = data_dict[data_dict['concept_id'] == measurement]['concept_name'].values[0]
        d_2[measurement] = measurement_name
    except:
        continue
v['visit_concept_id'] = v['visit_concept_id'].map(d_2)

In [15]:
def find_num(s):
    res = ""
    for i in str(s):
        if i != 'd' and i!=' ':
            res+=i
        else:
            return int(res)

In [16]:
valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
a = v[v['person_id'] == 1203].sort_values("visit_start_date", ascending=False)
a = a[a["visit_concept_id"].isin(valid)]
a["year"] = pd.DatetimeIndex(a['visit_start_date']).year
a["month"] = pd.DatetimeIndex(a['visit_start_date']).month
years = a["year"].values
months = a["month"].values
dates = a["visit_start_date"].values
a

,person_id,visit_concept_id,visit_start_date,visit_end_date,year,month
17461,1203,Intensive Care,2020-03-04,2020-03-04,2020,3
40359,1203,Emergency Room Visit,2020-02-03,2020-02-04,2020,2
37543,1203,Emergency Room Visit,2016-09-11,2016-09-18,2016,9
20650,1203,Emergency Room Visit,2016-08-30,2016-09-05,2016,8
38961,1203,Emergency Room Visit,2016-06-22,2016-07-01,2016,6
19281,1203,Intensive Care,2013-06-01,2013-06-06,2013,6
41961,1203,Emergency Room Visit,2013-02-05,2013-02-06,2013,2
41936,1203,Intensive Care,2012-12-30,2013-01-08,2012,12
1276,1203,Emergency Room Visit,2010-08-17,2010-08-22,2010,8

In [17]:
b = m[m['person_id'] == 1203].sort_values("measurement_time", ascending=False)
b["year"] = pd.DatetimeIndex(b['measurement_date']).year
b["month"] = pd.DatetimeIndex(b['measurement_date']).month
b = b[b["year"].isin(years)].reset_index(drop=True)
b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
n_data = pd.DataFrame()
for idx in b.index:
    for date in dates:
        cur = b.loc[idx, "measurement_date"]
        diff = date - cur
        diff_day = find_num(diff)
        
        if diff_day <= 21 and diff_day >= 0:
            n_data = n_data.append(b.loc[idx], ignore_index=True)
            break

n_data[n_data["is_normal"] == 0].sort_values("measurement_date", ascending=False)

,is_normal,measurement_concept_id,measurement_date,measurement_time,month,person_id,range_high,range_low,value_as_number,year
4,0.0,Glucose [Mass/volume] in Serum or Plasma,2020-03-01,2019-01-24,3.0,1203.0,125.0,62.0,141.0,2020.0
7,0.0,Mycophenolate [Mass/volume] in Serum or Plasma,2020-02-25,2018-05-09,2.0,1203.0,3.5,1.0,0.7,2020.0
8,0.0,Reticulocytes [#/volume] in Blood by Automated...,2016-08-14,2016-11-28,8.0,1203.0,65.0,20.0,163.0,2016.0
5,0.0,Oxygen saturation in Mixed venous blood,2016-06-17,2019-01-02,6.0,1203.0,NaN,NaN,63.0,2016.0
3,0.0,MCV [Entitic volume] by Automated count,2013-05-15,2019-02-08,5.0,1203.0,98.0,81.0,101.0,2013.0
6,0.0,Ferritin [Mass/volume] in Serum or Plasma by I...,2013-05-15,2018-06-06,5.0,1203.0,230.0,20.0,1485.0,2013.0
0,0.0,Lactate dehydrogenase [Enzymatic activity/volu...,2012-12-18,2020-05-26,12.0,1203.0,210.0,NaN,148.0,2012.0
10,0.0,Prothrombin time (PT),2010-08-12,2016-02-16,8.0,1203.0,15.6,10.7,15.8,2010.0

In [18]:
gs[gs["status"] == 1]
ones = gs[gs["status"] == 1].person_id.values
zeros = gs[gs["status"] == 0].person_id.values

In [ ]:
ones_anormals = []
for i in ones:
    valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
    a = v[v['person_id'] == i].sort_values("visit_start_date", ascending=False)
    a = a[a["visit_concept_id"].isin(valid)]
    a["year"] = pd.DatetimeIndex(a['visit_start_date']).year
    dates = a["visit_start_date"].values
    years = a["year"].values
    
    b = m[m['person_id'] == i].sort_values("measurement_time", ascending=False)
    b["year"] = pd.DatetimeIndex(b['measurement_date']).year
    b["month"] = pd.DatetimeIndex(b['measurement_date']).month
    b = b[b["year"].isin(years)].reset_index(drop=True)
    b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
    n_data = pd.DataFrame()
    for idx in b.index:
        for date in dates:
            cur = b.loc[idx, "measurement_date"]
            diff = date - cur
            diff_day = find_num(diff)

            if diff_day <= 21 and diff_day >= 0:
                n_data = n_data.append(b.loc[idx], ignore_index=True)
                break
    
    if n_data.shape[0] > 0:
        for ms in n_data.measurement_concept_id.values:
            ones_anormals.append(ms)

In [ ]:
len(ones_anormals)

In [ ]:
from collections import Counter

In [ ]:
Counter(ones_anormals)

In [ ]:
zeros_anormals = []
for i in zeros:
    valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
    a = v[v['person_id'] == i].sort_values("visit_start_date", ascending=False)
    a = a[a["visit_concept_id"].isin(valid)]
    dates = a["visit_start_date"].values
    a["year"] = pd.DatetimeIndex(a['visit_start_date']).year
    years = a["year"].values
    
    b = m[m['person_id'] == i].sort_values("measurement_time", ascending=False)
    b["year"] = pd.DatetimeIndex(b['measurement_date']).year
    b["month"] = pd.DatetimeIndex(b['measurement_date']).month
    b = b[b["year"].isin(years)].reset_index(drop=True)
    b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
    n_data = pd.DataFrame()
    for idx in b.index:
        for date in dates:
            cur = b.loc[idx, "measurement_date"]
            diff = date - cur
            diff_day = find_num(diff)

            if diff_day <= 21 and diff_day >= 0:
                n_data = n_data.append(b.loc[idx], ignore_index=True)
                break
    
    if n_data.shape[0] > 0:

        for ms in n_data.measurement_concept_id.values:
            zeros_anormals.append(ms)

In [ ]:
Counter(zeros_anormals)